.pagination{
  text-align: center;
  margin-top: 40px;
  button{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
    &:disabled{
      opacity: 0.5;
      cursor: default;
    }
    svg{
      position: relative;
      top: 2px;
    }
  }
}