.character__container{
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
    height: 100px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    padding: 10px;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
        transition: .2s ease-in-out;
        cursor: pointer;
    }
}