.filter__component{
    margin: 13px 23px;
    label{
        color: #ffffff;
        span{
            padding-right: 10px;
        }
    }
    .filter__dropdown{
        padding: 10px;
        border-radius: 4px;
    }
}